
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
  background: pink;
  height: 100%;
  position: relative;
  text-align: center;
}
button {
  height: 40px;
  width: 130px;
  border-radius: 20px;
  margin: 0 15px 25px;
}
.delete-btn {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  margin: 5px;
  font-style: normal;
}

#progress {
  width: 200px;
  height: 20px;
  background-color: bisque;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: absolute;
  right: 160px;
  top: 80px;
}
#searchMessage {
  width: 200px;
  height: 20px;
  background-color: lightblue;
  font-size: 16px;
  margin-left: 90px;
  visibility: hidden;
}



